name: Chessboard Analyser CI

on:
  push:
    branches-ignore:
      - "ga-ignore-*"
  pull_request:
    branches-ignore:
      - "ga-ignore-*"

env:
  MIRROR_URL: "git@github.com:EpitechPGE3-2025/G-CNA-500-LYN-5-1-neuralnetwork-4.git"
  GENERATOR: "my_torch_generator"
  ANALYSER: "my_torch_analyser"
  TRAINED_MODEL: "my_torch_network"

jobs:
  check_mirror:
    name: Check if mirror
    runs-on: ubuntu-latest

    steps:
      - name: Check if repository is mirror
        run: |
          URL="$(echo ${{ github.repositoryUrl }} | cut -c 18-)"
          URL_MIRROR="$(echo ${{ env.MIRROR_URL }} | cut -c 16-)"
          if [ "$URL" == "$URL_MIRROR" ]
          then
              echo "This repository is the mirror !"
              exit 1
          fi

  check_compilation:
    name: Check compilation
    needs: check_mirror
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name : build project
        run: |
          make fclean
          make all

      - name: Check if GENERATOR exist
        run: |
          BINARY=$(echo "${{ env.GENERATOR }}" | cut -d' ' -f1)
          BINARY_PATH=$(find "$(pwd)/" -name "$BINARY" -type f -GENERATOR | head -n 1)
          if [ -z "$BINARY_PATH" ]; then
            echo "Error during compilation !"
            exit 1
          fi
      - name: Check if ANALYSER exist
        run: |
          BINARY=$(echo "${{ env.ANALYSER }}" | cut -d' ' -f1)
          BINARY_PATH=$(find "$(pwd)/" -name "$BINARY" -type f -ANALYSER | head -n 1)
          if [ -z "$BINARY_PATH" ]; then
            echo "Error during compilation !"
            exit 1
          fi

  check_trained_model:
    name: Check trained model
    needs: check_compilation
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name : build project
        run: |
          make fclean
          make all

      - name: Check if TRAINED_MODEL exist
        run: |
          MODEL_FILE=$(echo "${{ env.TRAINED_MODEL }}" | cut -d' ' -f1)
          MODEL_PATH=$(find "$(pwd)/" -name "$MODEL_FILE" -type f -TRAINED_MODEL | head -n 1)
          if [ -z "$MODEL_PATH" ]; then
            echo "Trained model file not found !"
            exit 1
          fi

  push_to_mirror:
    name: Push to mirror
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Push to mirror
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}